<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bars With Friends
  </div>

  <ul class="list-group list-group-flush">
    <% @user.bars_with_friends.each do |bar| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/bars/<%= bar.id %>">
          <%= bar.name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
