<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Confirmed Restaurant
  </div>

  <ul class="list-group list-group-flush">
    <% @user.confirmed_restaurant.each do |restaurant| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/restaurants/<%= restaurant.id %>">
          <%= restaurant.name %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
