<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Attendees

    <a data-toggle="collapse" href="#bar_attendees_new_form">
      Add attendence
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @bar.attendees.each do |attendence| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/attendences/<%= attendence.id %>">
          <%= attendence.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_attendence_from_bar/<%= attendence.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="bar_attendees_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "bar_templates/bar_attendees_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
