<form action="/create_attendence_from_bar" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @attendence.restaurant_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="bar_id" value="<%= @bar.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create attendence
  </button>
</form>
