<form action="/create_review_from_bar" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"><%= @review.body %></textarea>
  </div>

  <input type="hidden" name="reviewer_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @review.restaurant_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="bar_id" value="<%= @bar.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create review
  </button>
</form>
