<h1>
  Add a new bar
</h1>


<hr>

<!-- Form bar start -->
<form action="/create_bar" method="post">
<!-- Form bar end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for location start -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <!-- Input for location start -->
    <input type="text" id="location" name="location" class="form-control">
    <!-- Input for location end -->
  </div>
  <!-- Label and input for location end -->

  <!-- Label and input for drink_deal start -->
  <div class="form-group">
    <label for="drink_deal">
      Drink deal
    </label>

    <!-- Input for drink_deal start -->
    <input type="text" id="drink_deal" name="drink_deal" class="form-control">
    <!-- Input for drink_deal end -->
  </div>
  <!-- Label and input for drink_deal end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bar
  </button>
</form>

<hr>

<a href="/bars">
  Go back
</a>
