<form action="/create_attendence_from_restaurant" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

  <div class="form-group">
    <label for="bar_id">
      Bar
    </label>

    <%= select_tag(:bar_id, options_from_collection_for_select(Bar.all, :id, :name, @attendence.bar_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="friend_id">
      Friend
    </label>

    <%= select_tag(:friend_id, options_from_collection_for_select(Friend.all, :id, :created_at, @attendence.friend_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create attendence
  </button>
</form>
