<!-- Form attendence start -->
<form action="/create_attendence_from_restaurant" method="post">
<!-- Form attendence end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @attendence.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for restaurant_id start -->
  <!-- Input for restaurant_id start -->
  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">
  <!-- Input for restaurant_id end -->

  <!-- Label and input for bar_id start -->
  <div class="form-group">
    <label for="bar_id">
      Bar
    </label>

    <!-- Input for bar_id start -->
    <input type="text" id="bar_id" name="bar_id" class="form-control" value="<%= @attendence.bar_id %>">
    <!-- Input for bar_id end -->
  </div>
  <!-- Label and input for bar_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create attendence
  </button>
</form>
